* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.logo {
    width: 90px;
    font-size: 50px;
}
.navbar {
    display: flex;
    justify-content:  space-between;
    padding: 10px;
    background-color: ;
}
.nav-link{
    text-decoration: none;
}
.nav-list {
    display: flex;
}
.nav-item {
    margin-right: 80px;
    list-style: none;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.main {
    height: 95vh;
    overflow: hidden;
}
.img-1 {
    width: 1400px;
    background-size: cover;
}

.main-info {
     width: 400px;
     position: absolute;
     top: 30%;
     left: 5%;
     transform: translate(30% , 10%);
     text-align: center;
     font-family: trajan-pro-3,'Trajan Pro',Georgia,'Times New Roman';
}
.bt-3 {
    border-top: 3px solid #72a05f;
    padding-left: 100px; 
}
.heading-secondary {
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.heading-primary {
    font-size: 100px;
    font-weight: normal;
    color: #fff;
    position: relative;
}
.two {
    position: absolute;
    top: 60%;
    left: 10%;
}
.watch-now {
    position: absolute;
    top: 85%;
    left: 22%;
    padding: 10px 30px;
    background: transparent;
    outline: 3px solid #fff;
    border: none;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 400;
    text-transform: uppercase;
}
#seasons {
   margin-top: 30px;
   margin-bottom: 40px;
}
.seasons {
    margin-top: 30px;
    display: flex;
    margin: 30px;
}

.heading-third{
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
}
.season {
    height: 200px;
    width: 200px;
    position: relative;
}
.image {
    width: 100%;
    height: 100%;
    background-size: cover;
}
.season:not(:last-child) {
    margin-right: 20px;
}
.sname{
    margin-top: 10px;
    position: absolute;
    top: 100%;
    left: 20%;
    width: 100%;
    font-size: 18px;
    text-transform: uppercase;

}

.cast {
    margin-top: 80px;
}
.heading-four {
    text-align: center;
    font-size: 34px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.row {
    display: flex;
    margin: 30px;

}
.col {
    height: 300px;
    width: 300px;
    position: relative;
}
.col:not(:last-child) {
    margin-right: 20px;
}

.cname{
    margin-top: 10px;
    width: 100%;
    font-size: 18px;
    text-transform: uppercase;
}
.rowbar {
    margin-top: 100px;
}
.quote {
    overflow: hidden;
    width: 100%;
    background-position: center;
    height: 500px;
    position: relative;
}
.dany {
    margin-top: -250px;
    width: 100%;
}
.dany-quote {
    width: 430px;
    position: absolute;
    top: 30%;
    left: 10%;
    font-size: 40px;
    color: #fff;
    font-weight: 100;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.dany-name {
    position: absolute;
    top: 60%;
    left: 10%;
    color: #fff;
    text-transform: uppercase;
}
.gallery {
    margin:40px;
    padding: 10px;
}
.col-1 {
    width: 400px;
    height: 500px;
    display: flex;
    background-color: #72a05f;
}

.col-1:not(:last-child) {
    margin-right: 20px;
}

.footer {
    color: #333;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    padding: 25px;
    text-transform: capitalize;

}
